build/
__pycache__/
*.pyc

# Metin düzenleyici dosyaları
.idea/
.vscode

# İşletim sistemi dosya yöneticisi dosyaları
.DS_Store

# Sanal ortam
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#Pycharm
idea/*
