<div class='addcomment'>Yorumlar</div>

<div class='how-to-use'>
    <h3>Önemli Not</h3>
    Sorularınızı yorumlarda dile getirmek yerine <a href="https://forum.yazbel.com/">Yazbel Forumu</a>nda sorarsanız çok daha hızlı cevap alabilirsiniz.
    <br>
    Belgelerdeki bir hata veya eksiği dile getirecekseniz lütfen yorumları kullanmak yerine <a href="https://github.com/yazbel/python-istihza/issues">Github</a>'da bir konu (issue) açın.
    <br>
    Eğer yazdığınız yorum içinde kod kullanacaksanız kodlarınızı
    <span class='tag'>&lt;pre&gt;&lt;code&gt;</span> etiketleri içine alın. Örneğin:

    <pre>
        <span class='tag'>&lt;pre&gt;&lt;code class="python"&gt;</span>
        <span class='keyword'>print</span>(<span class='string'>"Merhaba Dünya!"</span>)
        <span class='tag'>&lt;/code&gt;&lt;/pre&gt;</span>
    </pre>
</div>

{# see https://help.disqus.com/en/articles/1717112-universal-embed-code #}
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT
     *  THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR
     *  PLATFORM OR CMS.
     *
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT:
     *  https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        // Replace PAGE_URL with your page's canonical URL variable
        this.page.url = PAGE_URL;

        // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        this.page.identifier = PAGE_IDENTIFIER;
    };
    */

    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');

        // IMPORTANT: Replace EXAMPLE with your forum shortname!
        s.src = 'https://istihza.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

<noscript>
<br>
<a href="https://disqus.com/?ref_noscript" rel="nofollow">Disqus tarafından sağlanan yorumları</a> görmek için lütfen JavasScript'i etkinleştirin.
<br>
Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
