{% extends "!layout.html" %}

{% block doctype %}
 <!DOCTYPE html>
 <html lang="{{ language }}">
{% endblock %}

{% block extrahead %}
<!--[if lte IE 6]>
<link rel="stylesheet" href="{{ pathto('_static/ie6.css', 1) }}" type="text/css" media="screen" charset="utf-8" />
<![endif]-->
{% endblock %}

{% block header %}
<div class='header'><a href='https://yazbel.com'><img src="{{ pathto('_static/logo.png', 1) }}"></a></div>

{% include 'navigation.html' %}

{% endblock %}

{% block rootrellink %}
<li class="nav-item nav-item-0"><a href=".">&#x2302;</a></li>
{% endblock %}
